<div class="ui divided items">
    <repeat group="{{ @item_collection }}" value="{{ @item }}">
        <div class="item">
            <div class="image" style="width: 50px;">
                <img src="{{ @BASEURL }}/ui/images/book_placeholder.png">
            </div>
            <div class="content">
                <div class="header">{{ @item.item_title }}</div>
                <div class="meta">
                    <span>
                        {{ @item.item_creators }} 
                        ({{ @item.item_date }})
                        / Last modified: {{ @item.item_modified_date }}
                    </span>
                </div>
            </div>
        </div>
    </repeat>
</div>

<div class="ui relaxed divided link selection list">
    <repeat group="{{ @attachment_collection }}" value="{{ @attachment }}">
        <a class="item" target="_blank"
               href="https://drive.google.com/drive/u/0/search?q={{ @attachment.attachment_key }}%20type:folder">
            <i class="file pdf outline icon"></i>
            <div class="content">
                <div class="header">{{ @attachment.attachment_title }}</div>
                <div class="description">
                    {{ @attachment.attachment_date_modified }}
                    
                </div>
            </div>
        </a>
    </repeat>
</div>