<div class="ui divided items">
    <repeat group="{{ @item_collection }}" value="{{ @item }}">
        <div class="item">
            <div class="image" style="width: 50px;">
                <img src="{{ @BASEURL }}/ui/images/book_placeholder.png">
            </div>
            <div class="content">
                <a class="header">{{ @item.item_title }}</a>
                <div class="meta">
                    <span>
                        {{ @item.item_creators }} 
                        ({{ @item.item_date }})
                        / Last modified: {{ @item.item_modified_date }}
                    </span>
                </div>
            </div>
        </div>
    </repeat>
</div>