<div class="ui unstackable divided items">
    <repeat group="{{ @item_collection }}" value="{{ @item }}">
        <div class="item">
            
            
            <div class="image" style="width: 50px;">
                <check if="{{ is_null(@item.item_cover_path) }}">
                    <true>
                        <img src="{{ @BASEURL }}/ui/images/book_placeholder.png">
                    </true>
                    <false>
                        <img src="{{ @item.item_cover_base64 }}">
                    </false>
                </check>
            </div>
            <div class="content" style="width: 100%;">
                <a class="header" 
                       href="{{ @BASEURL }}/item/{{ @item.item_id }}">{{ @item.item_title | raw }}</a>
                <div class="meta">
                    <span>
                        {{ @item.item_creators | raw }} 
                        ({{ @item.item_date }})
                        / Last modified: {{ @item.item_modified_date }}
                    </span>
                </div>
                <!--
                <div class="description">
                    <p></p>
                </div>
                <div class="extra">
                    Additional Details
                </div>
                -->
                
                
            </div>
            <div class="extra" style="float:right;">
                <a class="ui right floated primary button"
                   href="{{ @BASEURL }}/item/{{ @item.item_id }}">
                    {{ @item.item_attachment_count }} <span class="units">FILES</span>
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </div>
    </repeat>
</div>