<div class="ui divided unstackable items">
    <repeat group="{{ @item_collection }}" value="{{ @item }}">
        <div class="item">
            <div class="image" style="width: 50px;">
                <check if="{{ is_null(@item.item_cover_path) }}">
                    <true>
                        <img src="{{ @BASEURL }}/ui/images/book_placeholder.png">
                    </true>
                    <false>
                        <img src="{{ @item.item_cover_base64 }}">
                    </false>
                </check>
            </div>
            <div class="content" style="width: 100%">
                <div class="header">{{ @item.item_title }}</div>
                <div class="meta">
                    <span>
                        {{ @item.item_creators }} 
                        ({{ @item.item_date }})
                        / Last modified: {{ @item.item_modified_date }}
                        / Files: {{ @item.item_attachment_count }}
                    </span>
                </div>
            </div>
            
            <check if="{{ isset(@item.item_link) }}">
                    <true>
            <div class="extra" style="float:right;">
                <!--
                <div class="ui right floated primary button"
                   onclick="item_open_all()">
                    OPEN ALL
                    <i class="right chevron icon"></i>
                </div>
                -->
                
                        <a class="ui right floated primary button" href={{ @item.item_link }}" target="_blank">
                            Google Drive
                            <i class="right chevron icon"></i>
                        </a>
            </div>
                    
                    </true>
                </check>
        </div>
    </repeat>
</div>

<div class="ui relaxed divided link selection list attachments">
    <repeat group="{{ @attachment_collection }}" value="{{ @attachment }}">
        <!-- <a class="item" target="_blank"
               href="http://pgb-share-to-search-google-drive.pulipuli.info/{{ @attachment.attachment_key }}"> -->
        <a class="item" target="_blank"
               href="http://gdrive.search/{{ @attachment.attachment_key }}">
            <i class="file pdf outline icon"></i>
            <div class="content">
                <div class="header">{{ @attachment.attachment_title }}</div>
                <div class="description">
                    {{ @attachment.attachment_date_modified }}
                </div>
            </div>
        </a>
        <!--
        <a class="item" target="_blank"
               href="https://drive.google.com/drive/u/0/search?q={{ @attachment.attachment_key }}%20type:folder"> 
            <i class="file pdf outline icon"></i>
            <div class="content">
                <div class="header">{{ @attachment.attachment_title }}</div>
                <div class="description">
                    {{ @attachment.attachment_date_modified }}
                </div>
            </div>
        </a>
        -->
    </repeat>
</div>