<div style="text-align: center">
<div class="ui pagination menu">
    <check if="{{ count(@pagination_first) > 0 }}">
        <repeat group="{{ @pagination_first }}" value="{{ @p }}">
            <check if="{{ isset($_GET['q']) }}">
                <true>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}?q={{ $_GET['q'] }}">{{ @p }}</a>
                </true>
                <false>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}">{{ @p }}</a>
                </false>
            </check>
        </repeat>
    </check>
    <check if="{{ count(@pagination_before_skip) > 0 }}">
        <repeat group="{{ @pagination_before_skip }}" value="{{ @p }}">
            <a class="item disabled">
                {{ @p }}
            </a>
        </repeat>
    </check>
    <check if="{{ count(@pagination_before) > 0 }}">
        <repeat group="{{ @pagination_before }}" value="{{ @p }}">
            <check if="{{ isset($_GET['q']) }}">
                <true>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}?q={{ $_GET['q'] }}">{{ @p }}</a>
                </true>
                <false>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}">{{ @p }}</a>
                </false>
            </check>
        </repeat>
    </check>
    <check if="{{ count(@pagination_current) > 0 }}">
        <repeat group="{{ @pagination_current }}" value="{{ @p }}">
            <check if="{{ isset($_GET['q']) }}">
                <true>
                    <a class="item active" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}?q={{ $_GET['q'] }}">{{ @p }}</a>
                </true>
                <false>
                    <a class="item active" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}">{{ @p }}</a>
                </false>
            </check>
        </repeat>
    </check>
    <check if="{{ count(@$pagination_after) > 0 }}">
        <repeat group="{{ @$pagination_after }}" value="{{ @p }}">
            <check if="{{ isset($_GET['q']) }}">
                <true>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}?q={{ $_GET['q'] }}">{{ @p }}</a>
                </true>
                <false>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}">{{ @p }}</a>
                </false>
            </check>
        </repeat>
    </check>
    <check if="{{ count(@pagination_after_skip) > 0 }}">
        <repeat group="{{ @pagination_after_skip }}" value="{{ @p }}">
            <a class="item disabled">
                {{ @p }}
            </a>
        </repeat>
    </check>
    <check if="{{ count(@pagination_last) > 0 }}">
        <repeat group="{{ @pagination_last }}" value="{{ @p }}">
            <check if="{{ isset($_GET['q']) }}">
                <true>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}?q={{ $_GET['q'] }}">{{ @p }}</a>
                </true>
                <false>
                    <a class="item" href="{{ @BASEURL }}/item_collection/{{@tag}}{{@p}}">{{ @p }}</a>
                </false>
            </check>
        </repeat>
    </check>
</div>
</div>