/open_website.bat
/open_website_app.bat
/open_website_tab.bat
/SQLiteDatabaseBrowserPortable.exe.lnk
/config.ini
/Zotero.lnk
/[[]document]/
/cover.gif
/autoit/compile_check-zotero-process-existed.au3.bat
/autoit/compile_check-zotero-process-existed.au3_sample.bat
/SQLite Database BrowserPortable.lnk
/nbproject/private/