<!DOCTYPE html>
<html>
    <head>
        <title>{{ @page_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ @BASEURL }}/ui/js/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ @BASEURL }}/ui/css/semantic-ui/semantic.min.css">
        <link rel="icon" type="image/png" href="{{ @BASEURL }}/ui/images/zotero_196x196x32.png" sizes="196x196"/>
        <link rel="stylesheet" type="text/css" href="{{ @BASEURL }}/ui/css/zotero-local-database.css">
    </head>
    <body>

<div class="ui top fixed menu">
    <check if="{{ $_SERVER['REQUEST_URI'] != @BASEURL and $_SERVER['REQUEST_URI'] != @BASEURL.'/item_collection' and isset($_SERVER['HTTP_REFERER'])  }}">
        <true>
            <a class="item back" onclick='history.back();'>
                <i class="chevron left icon"></i>
            </a>
            <a class="item home" style="display: none;" href="{{ @BASEURL }}">
                <img src="{{ @BASEURL }}/ui/images/zotero_36x36x32.png" />
            </a>
        </true>
        <false>
            <a class="item home" href="{{ @BASEURL }}">
                <img src="{{ @BASEURL }}/ui/images/zotero_36x36x32.png" />
            </a>
        </false>
    </check>
    <div class="item active">
        <check if="{{ isset($page_header) }}">
            <true>
                {{ @page_header }}
            </true>
            <false>
                {{ @page_title }}
            </false>
        </check>
    </div>
    <div class="right menu">
        <a class="item" href="{{ @GOOGLE_DRIVE_READING_FOLDER_URL }}" target="google_drive_reading">
            <i class="folder icon"></i>
        </a>
        <form class="item" method="GET">
            <div class="ui icon input">
                <check if="{{ isset($_GET['q']) }}">
                    <true>
                        <input type="text" name="q" value="{{ $_GET['q'] }}" placeholder="Search...">
                    </true>
                    <false>
                        <input type="text" name="q" placeholder="Search...">
                    </false>
                </check>
                
                <i class="search icon"></i>
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 80px">
<!-- [header] -->