<!DOCTYPE html>
<html>
    <head>
        <title>{{ @page_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ @BASEURL }}/ui/js/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ @BASEURL }}/ui/css/semantic-ui/semantic.min.css">
        <link rel="icon" type="image/png" href="{{ @BASEURL }}/ui/images/zotero_196x196x32.png" sizes="196x196"/>
    </head>
    <body>

<h1 class="ui header">{{ @page_title }}</h1>
        
<!-- [header] -->

