<!DOCTYPE html>
<html>
    <head>
        <title>{{ @page_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ @BASEURL }}/ui/js/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ @BASEURL }}/ui/css/semantic-ui/semantic.min.css">
        <link rel="icon" type="image/png" href="{{ @BASEURL }}/ui/images/zotero_196x196x32.png" sizes="196x196"/>
    </head>
    <body>

<div class="ui top fixed menu">
    <a class="item" href="{{ @BASEURL }}">
        <img src="{{ @BASEURL }}/ui/images/zotero_36x36x32.png" />
    </a>
    <div class="item active">
        <check if="{{ isset($page_header) }}">
            <true>
                {{ @page_header }}
            </true>
            <false>
                {{ @page_title }}
            </false>
        </check>
    </div>
    <div class="right menu">
        <form class="item" method="GET" action="./">
            <div class="ui icon input">
                <input type="text" name="q" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 80px">
<!-- [header] -->