.content .header b,
.content .meta b{
    background-color: yellow;
}

.attachments.list a.item:visited div.header  {
    color: #551A8B;
}

.attachments.list a.item.clicked {
    background-color: #e6e6e6;
}

@media only screen and (max-width: 767px) {
    .ui.unstackable.items>.item>.image, .ui.unstackable.items>.item>.image>img {
        width: 50px!important;
    }
    .ui.items>.item .extra .units {
        display: none;
    }
    .ui.items>.item .extra {
        width: auto;
    }
    .ui.items>.item .extra a {
        width: auto;
        width: 81px;
    }
}